<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Filmes filtrados</title>
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-outline-dark mt-4 mb-4">Pesquisar novamente</a>
        <h5>Resultado Pesquisa</h5>
        <ul>
              <li><%= pesquisa.results[0].title%></li>
              <li><%= pesquisa.results[1].title%></li>
              <li><%= pesquisa.results[2].title%></li>
              <li><%= pesquisa.results[4].title%></li>
              <li><%= pesquisa.results[5].title%></li>
              <li><%= pesquisa.results[6].title%></li>
              <li><%= pesquisa.results[7].title%></li>
              <li><%= pesquisa.results[8].title%></li>
              <li><%= pesquisa.results[9].title%></li>
              <li><%= pesquisa.results[10].title%></li>
              <li><%= pesquisa.results[11].title%></li>
              <li><%= pesquisa.results[12].title%></li>
        </ul> 
    </div>
</body>
</html>